@font-face {
  font-family: "Outfit-Black";
  src: local("Outfit-Black"),
    url(./assets/fonts/outfit/static/Outfit-Black.ttf) format("truetype");
}

@font-face {
  font-family: "Outfit-Bold";
  src: local("Outfit-Bold"),
    url(./assets/fonts/outfit/static/Outfit-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Outfit-ExtraBold";
  src: local("Outfit-ExtraBold"),
    url(./assets/fonts/outfit/static/Outfit-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "Outfit-ExtraLight";
  src: local("Outfit-ExtraLight"),
    url(./assets/fonts/outfit/static/Outfit-ExtraLight.ttf) format("truetype");
}

@font-face {
  font-family: "Outfit-Light";
  src: local("Outfit-Light"),
    url(./assets/fonts/outfit/static/Outfit-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Outfit-Medium";
  src: local("Outfit-Medium"),
    url(./assets/fonts/outfit/static/Outfit-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Outfit-Regular";
  src: local("Outfit-Regular"),
    url(./assets/fonts/outfit/static/Outfit-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Outfit-SemiBold";
  src: local("Outfit-SemiBold"),
    url(./assets/fonts/outfit/static/Outfit-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Outfit-Thin";
  src: local("Outfit-Thin"),
    url(./assets/fonts/outfit/static/Outfit-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Outfit-VariableFont_wght";
  src: local("Outfit-VariableFont_wght"),
    url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Young-Serif-Regular";
  src: local("Young-Serif-Regular"),
    url(./assets/fonts/young-serif/YoungSerif-Regular.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "Outfit-Regular";
  color: hsl(24, 5%, 18%);
}
